<section>
  <div class="block_left" id="bg"></div>
  <div class="block_right">
    <div class="block_color">
      <p>Цвет:</p>
      <div class="block1">

          {% for prod in colors %}

            <input id="{{ prod }}" class="color" type="radio" data-col="{{ prod }}" name="bl1"
                   onclick="document.getElementById('bg').style.backgroundColor = '{{ prod }}';"/>
            <label class="{{ prod }}" for="{{ prod }}"></label>

         {% endfor %}

      </div>
    </div>
    <div class="block_size">
      <p>Размер:</p>
      <div class="block1">
          {% for size in sizes %}

              <input id="{{ size }}" type="radio" name="bl2"/>
              <label class="size_{{ size }}" for="{{ size }}">{{ size }}</label>

          {% endfor %}
    </div>
    </div>
    <div class="block_material">
      <p>Материал:</p>
      <div class="block1">
        {% for material in materials %}

            <input id="{{ material }}" type="radio" name="bl3"/>
            <label class="material_{{ material }}" for="{{ material }}">{{ material }}</label>

        {% endfor %}
      </div>
  </div>
  </div>
</section>

<script type="text/javascript">
    $('.color').select(function(){
        var col;
        col = $(this).attr("data-col");
        $.ajax({
            type:"GET",
            url: "/",
            data:{
                color: col
            },
            success: function (data) {
                $('#message').text(data);

            }
        })
    })
</script>

$(sizeInput).click(function() {
    size = $(this).attr(dataSize);
    console.log(color, size, material);
  });

  $(materialInput).click(function() {
    material = $(this).attr(dataMaterial);
    console.log(color, size, material);
  });